<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-info" routerLink="/admin/add-theater">
        Add Theater
      </button>
    </div>
    <div class="col-md-12" *ngIf="listTheaters">
      <h3 class="">List Theaters</h3>
      <table mat-table [dataSource]="listTheaters" class="mat-elevation-z8">
        <ng-container matColumnDef="Title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="Latitude">
          <th mat-header-cell *matHeaderCellDef>Latitude</th>
          <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
        </ng-container>
        <ng-container matColumnDef="Longtitude">
          <th mat-header-cell *matHeaderCellDef>Longtitude</th>
          <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Add Auditorium</th>
          <td *matCellDef="let element" style="width: 190px;">
            <button
              mat-raised-button
              color="primary"
              (click)="addAuditorium(element.id)"
            >
              <mat-icon>add</mat-icon>
            </button>

            <button
              mat-raised-button
              color="primary"
              (click)="editTheater(element.id)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <!-- <button
              mat-raised-button
              color="primary"
              (click)="deleteTheater(element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="col-md-12" *ngIf="!listTheaters">
      <div *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></div>
    </div>
  </div>
</div>
