<div class="container voucher">
  <div class="row">
    <div class="form-gourp">
      <label for="">Nhập voucher của bạn</label>
      <input type="text" class="form-control" />
      <button class="btn btn-info" type="submit">Áp dụng</button>
    </div>
    <div class="list-voucher">
      <h3>Voucher của bạn</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mã voucher</th>
            <th scope="col">Nội dung</th>
            <th scope="col">Ngày áp dụng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ABCDEF12</td>
            <td>KM Thành viên mới</td>
            <td>01/12/2019</td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>ABCDEF12</td>
            <td>KM Thành viên mới</td>
            <td>01/12/2019</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>ABCDEF12</td>
            <td>KM Thành viên mới</td>
            <td>01/12/2019</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
