<div class="container">
  <div class="row">
    <div *ngIf="listTodoTemps">
      <mat-card
        *ngFor="let todo of listTodoTemps; let toDoindex = index"
        class="col-3"
      >
        <div>
          <mat-form-field *ngIf="editButton">
            <input [formControl]="control" matInput type="text" />
            <mat-error *ngIf="control.invalid">abc</mat-error>
          </mat-form-field>

          <h3 *ngIf="!editButton">
            {{ todo.name }} - {{ todo.listJobs.length }} jobs - Posted in
            {{ todo.time }}
          </h3>
        </div>
        <button
          *ngIf="!editButton"
          mat-button
          color="primary"
          (click)="editButtonHandle(editButton, false)"
        >
          <i class="material-icons">edit</i>
        </button>
        <button
          *ngIf="editButton"
          mat-button
          color="primary"
          (click)="editButtonHandle(editButton, abc)"
        >
          <i class="material-icons">save</i>
        </button>

        <button mat-button color="primary" (click)="removeToDo(toDoindex)">
          <i class="material-icons">delete</i>
        </button>
        <div *ngIf="todo.listJobs">
          <mat-card *ngFor="let listJob of todo.listJobs; let jobIndex = index">
            <h4>{{ listJob.name }} - Posted in {{ listJob.time }}</h4>
            <button
              mat-button
              color="primary"
              (click)="removeJobs(toDoindex, jobIndex)"
            >
              <i class="material-icons">delete</i>
            </button>
          </mat-card>
        </div>
        <mat-form-field>
          <textarea
            #listJobs
            matInput
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Add Jobs"
          ></textarea>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="addJobs(listJobs.value, toDoindex)"
        >
          Add Jobs
        </button>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="add">
      <mat-form-field>
        <textarea
          #listToDo
          matInput
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Add To Do"
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        id="addList"
        (click)="addToDo(listToDo.value)"
      >
        Add To Do
      </button>
    </div>
  </div>
</div>
