<div class="container">
  <div class="row">
    <div class="breadcrumbs">
      <a href="https://bongda.trongggg.com/" rel="v:url" property="v:title"
        ><i class="fa fa-home"></i> Trang chủ</a
      >
      / <strong class="breadcrumb_last">Profile</strong>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 profile-left">
      <ul class="profile-nav">
        <li class="current">
          <a href="https://www.cgv.vn/default/customer/account/"
            >Thông tin chung</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/customer/account/edit/"
            >Chi tiết tài khoản</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/loyalty/account/card/"
            >Thẻ thành viên</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/loyalty/account/point/"
            >Điểm thưởng</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/loyalty/account/gift/"
            >Thẻ quà tặng</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/loyalty/account/voucher/"
            >Voucher</a
          >
        </li>
        <li>
          <a href="https://www.cgv.vn/default/loyalty/account/coupon/"
            >Coupon</a
          >
        </li>
        <li class="last">
          <a href="https://www.cgv.vn/default/sales/order/history/"
            >Lịch sử giao dịch</a
          >
        </li>
      </ul>
    </div>
    <div class="col-9 profile-right">
      <h3>Thông tin chung</h3>
    </div>
  </div>
</div>
