<div class="container">
  <div class="row">
    <div class="breadcrumbs">
      <a href="https://bongda.trongggg.com/" rel="v:url" property="v:title"
        ><i class="fa fa-home"></i> Trang chủ</a
      >
      / <strong class="breadcrumb_last">Profile</strong>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3 profile-left">
      <ul class="profile-nav">
        <li class="current">
          <a
            routerLink="/user/profile"
            routerLinkActive="active"
            style="color: white;"
            >Thông tin chung</a
          >
        </li>
        <li>
          <a
            routerLink="/user/profile/voucher"
            routerLinkActive="active"
            style="color: white;"
            >Voucher</a
          >
        </li>
        <li class="last">
          <a
            routerLink="/user/profile/bought"
            routerLinkActive="active"
            style="color: white;"
            >Lịch sử giao dịch</a
          >
        </li>
      </ul>
    </div>

    <div class="col-9 profile-right">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
