<div class="container">
  <div class="example-container">
    <h3>Thông tin chung</h3>
    <table>
      <tr>
        <th>
          Họ và Tên
        </th>
        <th>
          a
        </th>
      </tr>

      <tr>
        2
      </tr>
    </table>

    <ul class="user-detail">
      <li><strong>Họ và Tên: </strong> {{ users.name }}</li>
      <li><strong>Email: </strong>{{ users.email }}</li>
      <li><strong>Phone: </strong>{{ users.phone }}</li>
      <li><strong>Sinh nhật:</strong>{{ users.bod }}</li>
      <li><strong>Ngày đăng ký:</strong>{{ users.registerAt }}</li>
    </ul>
    <!-- <mat-form-field>
      <input matInput placeholder="Input" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
</div>
