<div class="container edit-profile">
  <div class="row profile-title text-center">
    <h3>Thông tin của bạn</h3>
  </div>
  <div class="row mt-5" *ngIf="user">
    <div class="col-md-6">
      <div class="userAvatar">
        <img [src]="user.avatar" alt="" class="img-responsive" />
        <div class="text-center mt-2">
          <button class="btn btn-success">Change avatar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="form-list edit-info">
        <li class="fields">
          <div class="customer-name">
            <label for="firstname">Tên</label>
            <div class="input-box">
              {{ user.fullName }}
            </div>
          </div>
        </li>
        <li>
          <label for="email">Địa chỉ email</label>
          <div class="input-box">
            {{ user.email }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
