<mat-toolbar color="primary">
  <a routerLink="/user" routerLinkActive="active" style="color: white;"
    >MovieTheater</a
  >
  <div class="flex-spacer"></div>
  <a
    class="mat-button mat-button-header"
    routerLink="/user"
    routerLinkActive="active"
    style="color: white;"
    >Phim đang chiếu</a
  >
  <a
    class="mat-button mat-button-header"
    routerLink="/user/upcoming"
    routerLinkActive="active"
    style="color: white;"
    >Phim sắp chiếu</a
  >

  <a
    class="mat-button mat-button-header"
    routerLink="/user/upcoming"
    routerLinkActive="active"
    style="color: white;"
    >Hot nhất tuần</a
  >

  <a
    *ngIf="!loggedUser"
    class="mat-button mat-button-header"
    routerLink="/user/upcoming"
    routerLinkActive="active"
    style="color: white;"
    >Đăng nhập</a
  >

  <div *ngIf="loggedUser" class="right-navbar mat-button-header">
    <a routerLink="/user/profile" class="mat-button">
      <span class="mat-button-wrapper">
        <img class="img-fluid user" src="assets/user.jpg" alt="" />
        nv trong
      </span>
    </a>
  </div>
</mat-toolbar>
<div class="app-content">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="app-footer">
  copyright 2019
</div>
