<ngx-loading-bar [height]="'3px'" [color]="'#fe7900'"></ngx-loading-bar>
<header id="masthead">
  <div class="container">
    <div class="row">
      <div class="row-left">
        <div class="site-logo">
          <a routerLink="/user" class="">
            <span class="text-logo"> TDK</span>
            <span class="text-sencond">Movie</span>
          </a>
        </div>
      </div>
      <div class="row-right">
        <nav id="site-nav" class="site-navigation d-none d-md-none d-lg-block">
          <div class="menu-navi-container">
            <ul id="menu-site-main" class="nav-menu list-unstyled">
              <li class="menu-item">
                <a
                  class="mat-button mat-button-header"
                  routerLink="/user"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Phim đang chiếu</a
                >
              </li>
              <li class="menu-item searchbar-wrapper">
                <div class="searchbar">
                  <div class="searchbar-input">
                    <input
                      [formControl]="queryField"
                      class="search_input form-control"
                      type="text"
                      placeholder="Search..."
                    />
                  </div>

                  <div class="filter-select" *ngIf="results">
                    <div
                      class="autocomplete-suggestion"
                      *ngFor="let result of results"
                    >
                      <a
                        routerLink="/user/movie/{{ result.id }}"
                        class="search-link"
                      >
                        <img
                          [src]="result.image"
                          alt=""
                          width="50"
                          height="50"
                          class="img-responsive"
                        />
                        <span class="search-name">
                          {{ result.title }}
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="menu-item">
                <a
                  *ngIf="checkUser"
                  class="mat-button mat-button-header"
                  routerLink="/user/profile"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><i class="fa fa-user"></i>
                </a>
              </li>
              <li class="menu-item">
                <a
                  *ngIf="!checkUser"
                  class="mat-button mat-button-header"
                  routerLink="/login"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Đăng nhập</a
                >
              </li>
            </ul>
          </div>
        </nav>

        <div id="menu-toggle-mobile" class="d-lg-none d-xl-none">
          <a href="javascript:void(0)" class="" (click)="toggleMobileClass()"
            ><span class="times" [class.d-none]="!menuClick"></span
            ><span class="bar" [class.d-none]="menuClick"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div
  [class]="
    menuClick
      ? 'd-lg-none d-xl-none open-nav  navigation-mobile'
      : 'd-lg-none d-xl-none   navigation-mobile'
  "
>
  <div class="mobile-menu-container">
    <ul class="menu-mainnav-container list-unstyled">
      <li class="menu-item">
        <a
          class="mat-button mat-button-header"
          routerLink="/user"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Phim đang chiếu</a
        >
      </li>
      <li class="menu-item">
        <button mat-button>
          <i class="material-icons">
            search
          </i>
        </button>
      </li>

      <li class="menu-item">
        <a
          *ngIf="checkUser"
          class="mat-button mat-button-header"
          routerLink="/user/profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa fa-user"></i>
        </a>
      </li>
      <li class="menu-item">
        <a
          *ngIf="!checkUser"
          class="mat-button mat-button-header"
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Đăng nhập</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="app-content">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="app-footer">
  copyright 2019
</div>
