<div class="container-fluid " id="amy-page-header">
  <div class="row">
    <div class="col-12">
      <div class="amy-inner container">
        <h1 class="page-title">Now Playing</h1>
        <div class="amy-breadcrumb">
          <span property="itemListElement" typeof="ListItem"
            ><a
              property="item"
              typeof="WebPage"
              title="Go to Demo."
              href="http://demo.amytheme.com/movie/demo/multi-cinema"
              class="home"
              ><span property="name">Demo</span></a
            ><meta property="position" content="1"
          /></span>
          &gt; <span class="post post-page current-item">Now Playing</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col-8 main-content">
        <div class="movie-items">
          <div class="row">
            <div class="col-4 movie-thumb">
              <img src="assets/poster/m1.jpg" alt="" />
            </div>
            <div class="col-8 movie-detail">a</div>
          </div>
        </div>
      </div>
      <div class="col-4 sidebar"></div>
    </div>
  </div>
</div>
