<div class="container purchased-history">
  <div class="row">
    <div class="sotienchitieu">
      <p>
        Bạn đã chi tiêu tổng cộng: <span class="chitieu">1.232.000 VNĐ</span>
      </p>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Phim</th>
          <th scope="col">Giá tiền</th>
          <th scope="col">Ngày thanh toán</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ABCDEF12</td>
          <td>KM Thành viên mới</td>
          <td>01/12/2019</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>ABCDEF12</td>
          <td>KM Thành viên mới</td>
          <td>01/12/2019</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>ABCDEF12</td>
          <td>KM Thành viên mới</td>
          <td>01/12/2019</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
