<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <form [formGroup]="createMovieForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Input title ... "
            formControlName="title"
            required
          />
        </div>
        <div class="form-group">
          <label for="duration">Duration</label>
          <input
            type="text"
            class="form-control"
            id="duration"
            placeholder="Input duration ..."
            formControlName="duration"
            required
          />
        </div>

        <div class="form-group">
          <label for="imdbScore">imdbScore</label>
          <input
            type="text"
            class="form-control"
            id="imdbScore"
            placeholder="Input imdbScore ..."
            formControlName="imdbScore"
            required
          />
        </div>

        <div class="form-group">
          <label for="cast">Cast</label>
          <input
            type="text"
            class="form-control"
            id="cast"
            placeholder="Input cast ..."
            formControlName="cast"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Input description ..."
            formControlName="description"
            required
          />
        </div>
        <div class="form-group">
          <label for="director">Director</label>
          <input
            type="text"
            class="form-control"
            id="director"
            placeholder="Input director ..."
            formControlName="director"
            required
          />
        </div>
        <div class="form-group">
          <label for="image">Thumbnail</label>
          <input
            type="text"
            class="form-control"
            id="image"
            placeholder="Input thumbnail ..."
            formControlName="image"
            required
          />
        </div>
        <div class="form-group">
          <label for="trailer">Trailer URL</label>
          <input
            type="text"
            class="form-control"
            id="trailer"
            placeholder="Input trailer URL ..."
            formControlName="trailer"
            required
          />
        </div>
        <div class="form-group">
          <label for="premiereAt">Premier At</label>
          <input
            type="text"
            class="form-control"
            id="premiereAt"
            placeholder="Input Premier ..."
            formControlName="premiereAt"
            required
          />
        </div>

        <button
          class="btn btn-info"
          type="submit"
          [disabled]="!createMovieForm.valid"
        >
          Create Movie
        </button>
      </form> -->
      <button (click)="addNewMovie()" class="btn btn-info mb-2">
        Add Movies
      </button>
    </div>
    <div class="col-md-12" *ngIf="listMovies">
      <table mat-table [dataSource]="listMovies" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element">
            <img class="img-thumb" [src]="element.image" alt="" />
          </td>
        </ng-container>
        <ng-container matColumnDef="Duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <ng-container matColumnDef="Director">
          <th mat-header-cell *matHeaderCellDef>Director</th>
          <td mat-cell *matCellDef="let element">{{ element.director }}</td>
        </ng-container>

        <ng-container matColumnDef="Cast">
          <th mat-header-cell *matHeaderCellDef>Cast</th>
          <td mat-cell *matCellDef="let element">{{ element.cast }}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="IMDB">
          <th mat-header-cell *matHeaderCellDef>IMDB</th>
          <td mat-cell *matCellDef="let element">{{ element.imdbScore }}</td>
        </ng-container>

        <ng-container matColumnDef="Trailer">
          <th mat-header-cell *matHeaderCellDef>Trailer</th>
          <td mat-cell *matCellDef="let element">{{ element.trailer }}</td>
        </ng-container>
        <ng-container matColumnDef="PremierAt">
          <th mat-header-cell *matHeaderCellDef>PremierAt</th>
          <td mat-cell *matCellDef="let element">
            {{ element.premiereAt | date: "dd/MM/yyyy hh:mm:s" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td *matCellDef="let element" style="width: 190px;">
            <!-- <button
              mat-raised-button
              color="primary"
              (click)="editMovie(element.id)"
            >
              <mat-icon>edit</mat-icon>
            </button> -->
            <button
              mat-raised-button
              color="primary"
              (click)="deleteMovie(element.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="col-md-12" *ngIf="!listMovies">
      <div *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></div>
    </div>
  </div>
</div>
