<div class="container">
  <div class="row">
    <div class="movie-detail">
      <div class="alert alert-danger">
        <span>Phim : NHỮNG THIÊN THẦN CỦA CHARLIE</span> |
        <span>Ngày: 20/10/2019</span> | <span>Giờ: 12h:00</span> |
        <span>Rạp: CGV Royalcity</span> | <span>Hà Nội</span>
      </div>
    </div>
    <div class="date-list">
      <ul class="toggle-tabs">
        <li class="current" *ngFor="let ticket of ticketLists">
          <div class="day" (click)="getSelectDay(ticket.premiereAt)">
            <span>11</span><em>Wed</em><strong>27</strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="city-list">
      <ul class="toggle-tabs">
        <!-- <li class="current" *ngFor="let city of ticketCities"> -->
        <li class="current">
          <span>Hà Nội</span>
        </li>

        <li>
          <span>Hà Nội</span>
        </li>
        <li>
          <span>Hà Nội</span>
        </li>
        <li>
          <span>Hà Nội</span>
        </li>
        <li>
          <span>Hà Nội</span>
        </li>
        <li>
          <span>Hà Nội</span>
        </li>
      </ul>
    </div>
    <div class="list-cinema">
      <div class="cinema-wrapper">
        <h3>CGV Hùng Vương Plaza</h3>
        <span class="cinema-description">Rạp 2D</span>
        <ul class="tab-showtime">
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125409/dy/20191127"
            >
              <span>12:00 PM</span><br />
              <span>119 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125410/dy/20191127"
            >
              <span>14:20 PM</span><br />
              <span>126 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125411/dy/20191127"
            >
              <span>16:40 PM</span><br />
              <span>124 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125412/dy/20191127"
            >
              <span>19:00 PM</span><br />
              <span>114 ghế trống</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="cinema-wrapper">
        <h3>CGV Hùng Vương Plaza</h3>
        <span class="cinema-description">Rạp 2D</span>
        <ul class="tab-showtime">
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125409/dy/20191127"
            >
              <span>12:00 PM</span><br />
              <span>119 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125410/dy/20191127"
            >
              <span>14:20 PM</span><br />
              <span>126 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125411/dy/20191127"
            >
              <span>16:40 PM</span><br />
              <span>124 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125412/dy/20191127"
            >
              <span>19:00 PM</span><br />
              <span>114 ghế trống</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cinema-wrapper">
        <h3>CGV Hùng Vương Plaza</h3>
        <span class="cinema-description">Rạp 2D</span>
        <ul class="tab-showtime">
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125409/dy/20191127"
            >
              <span>12:00 PM</span><br />
              <span>119 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125410/dy/20191127"
            >
              <span>14:20 PM</span><br />
              <span>126 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125411/dy/20191127"
            >
              <span>16:40 PM</span><br />
              <span>124 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125412/dy/20191127"
            >
              <span>19:00 PM</span><br />
              <span>114 ghế trống</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cinema-wrapper">
        <h3>CGV Hùng Vương Plaza</h3>
        <span class="cinema-description">Rạp 2D</span>
        <ul class="tab-showtime">
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125409/dy/20191127"
            >
              <span>12:00 PM</span><br />
              <span>119 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125410/dy/20191127"
            >
              <span>14:20 PM</span><br />
              <span>126 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125411/dy/20191127"
            >
              <span>16:40 PM</span><br />
              <span>124 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125412/dy/20191127"
            >
              <span>19:00 PM</span><br />
              <span>114 ghế trống</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cinema-wrapper">
        <h3>CGV Hùng Vương Plaza</h3>
        <span class="cinema-description">Rạp 2D</span>
        <ul class="tab-showtime">
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125409/dy/20191127"
            >
              <span>12:00 PM</span><br />
              <span>119 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125410/dy/20191127"
            >
              <span>14:20 PM</span><br />
              <span>126 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125411/dy/20191127"
            >
              <span>16:40 PM</span><br />
              <span>124 ghế trống</span>
            </a>
          </li>
          <li class="item">
            <a
              href="https://www.cgv.vn/default/cinemas/booking/tickets/site/004/seq/4125412/dy/20191127"
            >
              <span>19:00 PM</span><br />
              <span>114 ghế trống</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
