/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main {
  /* max-width: 800px; */
  margin: auto;
  padding-top: 20px;
}

.app-content {
  background: #fdfcf0;
  /* height: 1000px; */
}
.main-header a {
  color: white;
  text-decoration: none;
}

/********** HOME ****************/
.home-title {
  margin-bottom: 20px;
  height: 60px;
  width: 100%;
  background: url(assets/bg_h3_line.jpg) repeat-x scroll left center
    rgba(0, 0, 0, 0);
}
.home-title h2 {
  background: url(assets/h3_movie_selection.gif) no-repeat scroll center center /
    406px 41px #fdfcf0;
  display: inline-block;
  width: 425px;
  height: 60px;
  text-indent: -99999px;
}
.movie-card .card-title {
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.movie-card {
  position: relative;
  cursor: pointer;
}

.movie-owner {
  background: url(assets/bg-black-transparent.png) repeat scroll 0 0 transparent;
  display: none;
  padding-bottom: 10px;
  position: absolute;
  top: 275px;
  width: 100%;
  z-index: 999;
}

.movie-card:hover .movie-owner {
  display: block;
}
/**** Movie Detail *******/
.product-shop > div {
  float: left;
  width: 100%;
}
.product-shop > div label {
  float: left;
}
