/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Condensed", Arial, sans-serif;
}
.nomargin {
  margin: 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  margin: 0;
}
.main {
  /* max-width: 800px; */
  margin: auto;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}
.nopadding {
  padding: 0px;
}
.bg-color {
  background: wheat;
}
.breadcrumbs {
  margin-bottom: 15px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
}
a {
  color: #666;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.app-footer {
  background: #3f51b5;
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
.mat-button-header {
  padding: 0 5px;
}
.main-header a {
  color: white;
  text-decoration: none;
}
.page-title {
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 80px 0;
  display: inline-block;
}
.mobile-breadcrumb .breadcrumb {
  background: none;
  color: white;
  padding: 10px 10px 0px 10px;
}

span.post.post-page.current-item {
  margin-left: 5px;
}
.breadcrumbs {
  color: #ffffff;
  display: inline-block;
  float: right;
  margin-top: 90px;
}
#amy-page-header {
  overflow: hidden;
  background-color: #202020;
}
.mat-drawer:not(.mat-drawer-side) {
  width: 230px;
}
.flex-spacer {
  flex-grow: 1;
}
img.user {
  height: 26px;
  margin: 0 4px 3px 0;
}
.example-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.example-container > * {
  width: 50%;
  margin: auto;
}
/******menu mobile*******/
/* #masthead .container .row {
  margin: 10px 0;
} */
.menu-item .active {
  background: #fe7900;
  color: white;
}
#menu-toggle-mobile {
  /* margin-top: 30px; */
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
#menu-toggle-mobile a {
  display: inline-block;
  width: 20px;
  position: relative;
  cursor: pointer;
}
#menu-toggle-mobile a span.times:before {
  -webkit-transform: rotate(45deg) translate(3px, 3px);
  -ms-transform: rotate(45deg) translate(3px, 3px);
  -o-transform: rotate(45deg) translate(3px, 3px);
  transform: rotate(45deg) translate(3px, 3px);
}

#menu-toggle-mobile a span.times:after {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  -ms-transform: rotate(-45deg) translate(4px, -4px);
  -o-transform: rotate(-45deg) translate(4px, -4px);
  transform: rotate(-45deg) translate(4px, -4px);
}
#menu-toggle-mobile a span.times {
  background: rgba(0, 0, 0, 0);
}
#menu-toggle-mobile a span.times:after {
  margin-top: 5px;
}
#menu-toggle-mobile a span,
#menu-toggle-mobile a span:before,
#menu-toggle-mobile a span:after {
  transition: all 0.1s ease 0s;
  display: block;
  width: 100%;
  height: 3px;
  margin: 2px auto;
  background-color: #555;
}
#menu-toggle-mobile a span:before {
  margin-top: -5px;
}
#menu-toggle-mobile a span:before,
#menu-toggle-mobile a span:after {
  position: absolute;
  content: "";
}
.navigation-mobile {
  opacity: 0;
  background-color: #f1f1f1;
  height: 100%;
  left: -250px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  width: 250px;
  z-index: 8020;
}
.open-nav.navigation-mobile {
  opacity: 1;
  left: 0;
}
.navigation-mobile ul {
  margin: 0;
  padding: 0;
}
.navigation-mobile ul li {
  list-style: none;
  position: relative;
}
.navigation-mobile ul li a {
  border-bottom: 1px solid #e4e4e4;
  color: #525252;
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding: 15px;
  line-height: 17px;
}
/********** HOME ****************/
.home-title {
  margin-bottom: 20px;
  width: 100%;
  /* background: url(assets/bg_h3_line.jpg) repeat-x scroll left center */
  /* rgba(0, 0, 0, 0); */
}
.home-title h2 {
  /* background: url(assets/h3_movie_selection.gif) no-repeat scroll center center / */
  /* 406px 41px #fdfcf0; */
  /* display: inline-block;
  width: 425px;
  height: 60px;
  text-indent: -99999px; */
}
.movie-card .card-title,
.voucher-description .card-title {
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.movie-card,
.voucher-wrapper {
  position: relative;
  cursor: pointer;
}
.movie-owner {
  top: 197px;
}
.movie-owner a {
  font-size: 14px;
}
.voucher-description {
  top: 179px;
}
.movie-owner,
.voucher-description {
  background: url(assets/bg-black-transparent.png) repeat scroll 0 0 transparent;
  display: none;
  padding-bottom: 10px;
  position: absolute;

  width: 100%;
  z-index: 999;
}

.movie-card:hover .movie-owner,
.voucher-wrapper:hover .voucher-description {
  display: block;
}
/**** Movie Detail *******/
.product-shop > div {
  float: left;
  width: 100%;
}
.product-shop > div label {
  float: left;
}

/*************** buy ticket ******************/
.day {
  color: #717171;
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 77px;
}
.day > span {
  color: #717171;
  font-size: 11px;
  left: 4px;
  position: absolute;
  top: 4px;
}
.day > em {
  color: #717171;
  font-size: 11px;
  font-style: normal;
  left: 4px;
  position: absolute;
  top: 20px;
}
.day > strong {
  color: #717171;
  font-size: 32px;
  font-weight: normal;
  left: 31px;
  line-height: 32px;
  position: absolute;
  top: 8px;
}

.current .day {
  border: 2px solid #505050;
  border-radius: 5px;
}

ul.toggle-tabs {
  list-style: none;
}
ul.toggle-tabs li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
.date-list {
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 20px;
}
.city-list {
  padding-top: 15px;
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 20px;
}
.list-cinema {
  padding-top: 15px;
  width: 100%;
  padding-bottom: 20px;
}
.cinema-wrapper {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.city-list ul.toggle-tabs li {
  border: 2px solid #505050;
  border-radius: 5px;
}
.city-list ul.toggle-tabs li.current {
  background: #222;
}
.city-list ul.toggle-tabs li span {
  color: black;
  display: inline-block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 12px;
}
.city-list ul.toggle-tabs li.current span {
  color: white;
}
.tab-showtime {
  margin-bottom: 15px;
}
.tab-showtime li.item {
  border: 1px solid #cbcabe;
  color: #222;
  text-align: center;
}

.tab-showtime li {
  list-style: none;
  border: 1px solid #222;
  padding: 5px 10px;
  float: left;
  margin-right: 3px;
  margin-top: 3px;
  width: 125px;
}
.tab-showtime li a {
  color: #e71a0f;
  text-decoration: none;
}

/********** user profile *************/
ul.profile-nav {
  list-style: none;
}
.profile-nav li.current {
  background: url(assets/ribon_left.png) no-repeat scroll left center #e71a0f;
}
.profile-nav li {
  background: url(assets/ribon_left-ccc.png) no-repeat scroll left center #ccc;
  color: #fff;
  margin: 2px 0;
  height: 34px;
  padding-left: 18px;
  float: left;
  width: 100%;
}
.profile-nav li.current a {
  color: white;
}
.profile-nav li a {
  text-decoration: none;
  color: #666;
  margin-left: 5px;
  line-height: 34px;
  font-weight: bold;
}
.profile-left {
  margin-top: 30px;
}

.profile-right h3 {
  text-align: center;
  text-transform: uppercase;
}
.emailInput {
  margin-bottom: 15px;
}
.profile-right ul {
  list-style: none;
}

label {
  display: inline-block;
  font-size: 13px;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 600;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.profile-right {
  margin-top: 30px;
}
ul.form-list.edit-info li {
  margin-bottom: 10px;
}
.form-gourp {
  width: 100%;
  text-align: center;
}

.container.voucher .form-group {
  width: 100%;
}

.container.voucher button {
  margin-top: 10px;
  width: 50%;
}
.container.voucher .list-voucher {
  width: 100%;
  margin-top: 20px;
}

.list-voucher h3 {
  font-size: 20px;
  text-transform: inherit;
  margin-bottom: 13px;
}
.profile-title {
  background: black;
  margin-bottom: 10px;
}

.profile-title h3 {
  color: white;
  padding: 10px 0px 0px 10px;
  font-size: 20px;
}
/************** Clone **************/
.main-content {
  padding: 50px 0;
}
.movie-thumb {
  position: relative;
}

.movie-thumb a {
  position: relative;
  display: block;
}

.movie-thumb a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f04b";
  color: #fe7900;
  background-color: #fff;
  font-size: 20px;
  text-indent: 5px;
  height: 50px;
  left: 50%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
  z-index: 2;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.2s linear;
}

.movie-thumb a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 0;
  background-color: #fe7900;
  transform: scale(0.15);
  -webkit-transform: scale(0.15);
  transition: all 0.2s linear;
}

span.imdb-point {
  position: absolute;
  left: 25px;
  bottom: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #fe7900;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fe7900;
}
.movie-thumb a:hover:after {
  opacity: 0.3;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.movie-thumb a:hover:before {
  opacity: 0.45;
}
.movie-title {
  color: #202020;
  font-size: 22px;
  padding-right: 0;
}

.movie-title a {
  color: #202020;
  font-weight: 600;
}
.rating-star {
  width: 80px;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
}
.rating-star:before {
  content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  color: #666666;
}
.current-rating:before {
  content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  color: #f0a800;
}
.current-rating {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.user-rating {
  font-size: 12px;
  color: #666666;
}

.movie-duration {
  font-size: 14px;
  color: #fe7900;
}

.movie-description {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
}

.movie-description p {
  margin-bottom: 10px;
}

.single-movie .entry-info .movie-field-wrapper .movie-field label {
  color: #000;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 0;
  font-size: 13px;
}

.movie-field {
  margin-bottom: 3px;
}

.movie-field-content {
  color: #202020;
  font-size: 13px;
  display: inline;
}
.movie-item-button {
  margin-top: 15px;
  padding: 5px 0 5px 0;
  border-top: 1px dotted #dbdbdb;
  border-bottom: 1px dotted #dbdbdb;
}

.movie-item-button .btn {
  border-right: none;
  padding-right: 0;
  margin-right: 20px;
  padding-left: 0;
  display: inline-block;
  color: #666666;
  font-size: 13px;
  line-height: 1;
}

.movie-item-button .btn i {
  background-color: #999999;
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin-top: -4px;
  margin-right: 5px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 9px;
  opacity: 0.8;
  transition: all 0.2s linear;
}
.showtime-btn:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 2;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  margin-left: 3px;
  font-size: 13px;
}

.showtime-btn {
  float: right;
  display: inline-block;
  color: #666666;
  cursor: pointer;
  transition: all 0.2s linear;
  font-size: 13px;
  line-height: 2;
}
.showtime-wrapper {
  /* display: none; */
  margin-top: 40px;
  background: #f8f8f8;
  width: 100%;
}

.showtime-item {
  border-bottom: 1px solid #ececec;
}

.showtime-item h3 {
  display: inline-block;
  padding: 30px 30px;
  width: 200px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  float: left;
}

.showtime-item .st-time {
  border-left: 1px solid #ececec;
  margin-left: 200px;
  padding: 20px 0;
  padding-left: 20px;
}

.st-time ul {
  display: inline-block;
  margin: 0;
  padding: 5px 20px;
}

.st-time ul li,
.pick-time {
  background: #fe7900;
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff !important;
  border: none !important;
  font-size: 13px;
}

.st-title .buy-ticket {
  margin-right: 30px;
  background: #fe7900 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-top: 25px;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  width: auto;
  float: right;
}

.st-title label {
  font-weight: bold;
  margin: 0;
}

.widget-title {
  font-size: 28px;
  display: inline-block;
  color: #fe7900;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding-bottom: 5px;
}
.entry-item {
  background: #f8f8f8;
  margin-bottom: 15px;
}

.entry-thumb {
  float: left;
}
.entry-content {
  margin-left: 134px;
  padding-top: 15px;
}
.entry-content h2 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.entry-content .duration {
  color: #fe7900;
}
.entry-content .duration i {
  padding-right: 5px;
}
.mrate .rate {
  background: #fe7900;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  right: 20px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -10px;
  width: 45px;
}

li.mv-current-rating {
  background-color: transparent;
  background-image: url(assets/star.png);
  background-position: left center;
  background-repeat: repeat-x;
  border: medium none;
  height: 18px;
  left: 0;
  line-height: 18px;
  margin: 0;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -1000em;
  top: 0;
  z-index: 1;
}
ul.mv-rating-stars {
  background-color: transparent;
  background-image: url(assets/star.png);
  background-position: left top;
  background-repeat: repeat-x;
  height: 18px;
  list-style: outside none none;
  margin: 15px 15px 0 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 90px;
  float: left;
}
.mrate {
  margin-top: 15px;
  position: relative;
}
.home-pagination {
  clear: both;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

span.page-numbers.current {
  background: #fe7900;
  border: 2px solid #fe7900;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0 5px;
  padding: 7px 15px;
  border-radius: 3px;
}

a.next.page-number {
  color: #fe7900;
  border: 2px solid #f6f6f6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0 5px;
  padding: 7px 15px;
}

.home-pagination a {
  color: #fe7900;
  border: 2px solid #f6f6f6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0 5px;
  padding: 7px 15px;
  border-radius: 3px;
}
.movie-items {
  margin-bottom: 20px;
}
.page-numbers.current {
  background: #fe7900;
  border: 2px solid #fe7900;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0 5px;
  padding: 7px 15px;
  border-radius: 3px;
}
a.page-number:hover {
  background: #fe7900;
  border-color: #fe7900;
  color: #fff !important;
}

.row-left {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.row-right {
  margin-left: auto;
  text-align: right;
}

header#masthead .row > div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

ul.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.nav-menu li {
  display: inline-block;
  float: left;
  position: relative;
}
.menu-item a {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
ul.nav-menu li a {
  display: inline-block;
  padding: 0 20px;
  color: #000;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
ul.nav-menu li a:after {
  width: 0 !important;
  content: "";
  left: 50%;
  top: 50%;
  margin-top: -1.5px;
  position: absolute;
  width: 0;
  background: #fe7900;
  bottom: 22px;
  height: 3px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.movie-meta-duration {
  margin: 5px 0px;
}
.entry-share {
  float: right;
  margin-top: 0px;
}

.movie-rating {
  display: inline-block;
  position: relative;
}
.entry-share label {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  float: left;
}
.entry-share ul {
  margin: 0;
  padding: 0;
  float: left;
}
.entry-share ul li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}
.entry-share ul li a {
  color: #999;
}
.single-movie .entry-info h1 {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}
.single-movie .entry-info .movie-field-wrapper {
  margin-top: 15px;
  padding: 0;
  margin-bottom: 15px;
}
/* .single-movie .entry-info .movie-field-wrapper .movie-field label {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  width: 90px;

} */
.single-movie .entry-info .movie-field-wrapper span {
  color: #666;
  font-size: 15px;
  float: right;
  width: calc(100% - 80px);
}
ul.nav-menu li:hover {
  background: #f0a800;
  transition: all 0.3s;
}
ul.nav-menu li:hover a {
  color: white;
}
.single-movie .entry-content {
  margin-left: 0px;
}
.info-name h3 {
  color: #fe7900;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding-bottom: 5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 55%;
  right: 10px;
  width: 47px;
  height: 75px;
  background-size: 95px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 55%;
  left: 10px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-size: 95px;
  background-position-x: right;
}
.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}

.slick-slide img {
  min-height: 122px;
  width: 100%;
}
.media-item {
  padding: 0 10px;
  position: relative;
}
.single-movie .entry-showtime {
  margin-top: 30px;
}
.single-movie .entry-showtime .select-cinema {
  background: #f8f8f8;
  float: left;
  width: 100%;
  min-height: 250px;
}
.single-movie .entry-showtime .select-cinema h4,
.select-day h4 {
  background: transparent url(assets/icon-cinema.png) no-repeat scroll 0 0;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  height: 23px;
  line-height: 24px;
  margin: 15px 25px;
  padding-left: 35px;
  text-transform: uppercase;
}
.single-movie .entry-showtime .select-cinema ul {
  margin: 0;
  padding: 20px 0;
  border-top: 2px solid #fff;
  list-style: none;
}
.single-movie .entry-showtime .select-cinema ul li button {
  list-style: none;
  padding: 0 25px;
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}
.single-movie .entry-showtime .select-cinema ul li:hover:before,
.single-movie .entry-showtime .select-cinema ul li.active:before {
  border-color: rgba(248, 248, 248, 0);
  border-left-color: #dbdbdb;
  border-width: 9px;
  margin-top: -9px;
}
.single-movie .entry-showtime .select-cinema ul li:hover:after,
.single-movie .entry-showtime .select-cinema ul li.active:after {
  border-color: rgba(248, 248, 248, 0);
  border-left-color: #dbdbdb;
  border-width: 9px;
  margin-top: -9px;
}
.single-movie .entry-showtime .showtime {
  background: #f8f8f8;
  min-height: 250px;
}
.entry-showtime .showtime .st-time {
  border-left: 1px solid #ececec;
  margin-left: 200px;
  padding: 20px 0;
  padding-left: 20px;
}
.single-movie .entry-showtime .showtime .st-time {
  margin-left: unset;
}

/**************** Checkout ****************/
.checkout {
  max-width: 800px;
  margin: 30px auto;
}
.payment-method ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.payment-method input {
  margin-right: 10px;
}
.cart-sidebar thead tr {
  border-bottom: 1px solid #d4d3c9;
}
.cart-sidebar .data-table {
  width: 100%;
}
.cart-sidebar thead,
.cart-sidebar tfoot {
  font-weight: bold;
  text-align: center;
}
.data-table td,
.data-table th {
  padding: 10px;
  vertical-align: top;
}
.data-table tbody tr:last-child {
  border-bottom: none;
}
.cart-sidebar tfoot td {
  background: #d0cece;
}
.cart-item {
  margin-bottom: 20px;
  border: solid 1px #d0cfcf;
}
.seat-picker {
  transition: 0.5s ease-in-out;
}
.seat {
  display: inline-block;
  border: 1px solid transparent;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  font-size: 7pt;
  margin: 0 1px;
  padding: 1px 0;
  border: 1px solid #01c73c;
}
.seat-picker .line {
  margin-bottom: 3px;
}
.seat.inactive {
  background: #bbb;
  border: 1px solid #bbb;
  color: #fff;
}
.seat.active {
  cursor: pointer;
}
.screen {
  width: 50%;
  height: 45px;
  margin: 0px auto 20px;
  text-align: center;
  background: url(assets/bg-screen.png) no-repeat top center transparent;
  background-size: 100% auto;
}
td.countdownwrapper {
  padding: 30px;
}

.countdownwrapper-text {
  font-size: 50px;
}
h3.step {
  padding: 8px 10px;
  background: #202020;
  font-size: 20px;
  color: white;
}
.paid-complete {
  background: red;
  border: none;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 17px;
}
.paid-complete:hover {
  background: #de0606;
}
.app-content {
  background: #fdfcf0;
}
.day-slider .slick-prev:before,
.slick-next:before {
  color: #000000 !important;
}
.day-slider button.slick-prev,
button.slick-prev:hover {
  left: -20px !important;
}
.day-slider button.slick-next,
button.slick-next:hover {
  right: -10px !important;
}
.day-slider .slide.media-item {
  border: solid 1px #b5b5b5;
}
p.emptySeats {
  font-size: 11px;
  margin-bottom: 0;
  margin-top: -20px;
}
button.seat.active {
  background: white;
}

button.seat.inactive {
  background: gray;
  color: white;
}
.seatPickerWrapper {
  background: #f8f8f8;
}
.site-logo a span.text-logo {
  font-size: 30px;
  color: #fe7900;
  font-weight: 600;
}
span.text-sencond {
  font-weight: 600;
  margin-left: 5px;
  font-size: 20px;
}
.movie-thumb a img {
  min-height: 400px;
}
.select-day {
  background: #f8f8f8;
  padding: 1px 0px;
  margin-bottom: 10px;
}
.entry-thumb img {
  max-width: 124px;
}
@media (max-width: 767.98px) {
  header#masthead {
    padding: 0px 15px;
  }
  .mobile-breadcrumb .breadcrumb {
    display: block;
  }
  .movie-thumb a img {
    margin-bottom: 15px;
  }
}
